1. Количество уникальных пользователей. (число)

2. Средний возраст всех пользователей. (число)

3. Средний возраст пользователей по странам. (страна - число)

4. Min/max/avg количество сессий каждого пользователя (число, число, число)

5. Среднее количество сессий для пользователей возраста 18-30, 30-40, 40+ (bin, число)

6. Среднее время сессии для каждой страны (страна - число)

7. Топ-10 пользователей по количеству сессий (имя, id, количество сессий)

8. Получить пользователей, возраст которых 18-25, среднее время сессии больше 10 минут. (среднее время сессии, возраст, user_id). Использовать в запросе inner join.

### 1. Количество уникальных пользователей. (число)

In [2]:
import sqlite3

In [3]:
try:
    sqlite_connection = sqlite3.connect('App.db')
    cursor = sqlite_connection.cursor()
    print("Подключен к SQLite")

    sqlite_select_query = """SELECT COUNT(DISTINCT user_id) FROM users"""
    cursor.execute(sqlite_select_query)
    records = cursor.fetchone()
    print("Количество уникальных пользователей: ", *records)

    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при работе с SQLite", error)
finally:
    if sqlite_connection:
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

Подключен к SQLite
Количество уникальных пользователей:  1000
Соединение с SQLite закрыто

### 2. Средний возраст всех пользователей. (число)

In [4]:
try:
    sqlite_connection = sqlite3.connect('App.db')
    cursor = sqlite_connection.cursor()
    print("Подключен к SQLite")

    sqlite_select_query = """SELECT AVG(age) FROM users"""
    cursor.execute(sqlite_select_query)
    records = cursor.fetchone()
    print("Средний возраст всех пользователей: ", *records)
    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при работе с SQLite", error)
finally:
    if sqlite_connection:
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

Подключен к SQLite
Средний возраст всех пользователей:  24.388
Соединение с SQLite закрыто

### 3. Средний возраст пользователей по странам. (страна - число)

In [5]:
try:
    sqlite_connection = sqlite3.connect('App.db')
    cursor = sqlite_connection.cursor()
    print("Подключен к SQLite")

    sqlite_select_query = """SELECT country, Avg(age) FROM users GROUP BY country"""
    cursor.execute(sqlite_select_query)
    records = cursor.fetchall()
    for i in records:
        print(i[0], ':', i[1])
    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при работе с SQLite", error)
finally:
    if sqlite_connection:
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

Подключен к SQLite
Albania : 24.458333333333332
Andorra : 24.08695652173913
Austria : 25.0
Belarus : 24.692307692307693
Belgium : 24.79310344827586
Bosnia_and_Herzegovina : 25.476190476190474
Bulgaria : 24.333333333333332
Croatia : 22.68
Czech_Republic(Czechia) : 23.61904761904762
Denmark : 23.956521739130434
Estonia : 24.5
Finland : 23.36
France : 24.444444444444443
Germany : 25.5625
Greece : 24.823529411764707
Holy_See : 23.869565217391305
Hungary : 25.041666666666668
Iceland : 25.366666666666667
Ireland : 24.0
Italy : 23.470588235294116
Latvia : 24.185185185185187
Liechtenstein : 24.8
Lithuania : 24.75
Luxembourg : 25.033333333333335
Malta : 23.61904761904762
Moldova : 23.92
Monaco : 24.555555555555557
Montenegro : 23.8
Netherlands : 25.47826086956522
North_Macedonia : 22.761904761904763
Norway : 24.0
Poland : 25.181818181818183
Portugal : 23.705882352941178
Romania : 24.413793103448278
Russia : 24.76
San_Marino : 24.482758620689655
Serbia : 24.5
Slovakia : 24.666666666666668
Slovenia : 23.227272727272727
Spain : 24.428571428571427
Sweden : 24.296296296296298
Switzerland : 24.838709677419356
Ukraine : 24.391304347826086
United_Kingdom : 26.071428571428573
Соединение с SQLite закрыто

### 4. Min/max/avg количество сессий каждого пользователя (число, число, число)

In [6]:
try:
    sqlite_connection = sqlite3.connect('App.db')
    cursor = sqlite_connection.cursor()
    print("Подключен к SQLite")

    sqlite_select_query_1 = """SELECT MIN(mycount)
                            FROM (SELECT user_id, COUNT(session_id) mycount
                                   FROM sessions
                                   GROUP BY user_id);"""
    cursor.execute(sqlite_select_query_1)
    records_1 = cursor.fetchone()
    print('Min количество сессий:', *records_1)
    
    sqlite_select_query_2 = """SELECT MAX(mycount)
                            FROM (SELECT user_id, COUNT(session_id) mycount
                                  FROM sessions
                                  GROUP BY user_id);"""
    cursor.execute(sqlite_select_query_2)
    records_2 = cursor.fetchone()
    print('Max количество сессий:', *records_2)
    
    sqlite_select_query_3 = """SELECT AVG(mycount)
                            FROM (SELECT user_id, COUNT(session_id) mycount
                                  FROM sessions
                                  GROUP BY user_id);"""
    cursor.execute(sqlite_select_query_2)
    records_3 = cursor.fetchone()
    print('AVG количество сессий:', *records_3)

    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при работе с SQLite", error)
finally:
    if sqlite_connection:
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

Подключен к SQLite
Min количество сессий: 1
Max количество сессий: 6
AVG количество сессий: 6
Соединение с SQLite закрыто

### 5. Среднее количество сессий для пользователей возраста 18-30, 30-40, 40+ (bin, число)

In [7]:
try:
    sqlite_connection = sqlite3.connect('App_test.db')
    cursor = sqlite_connection.cursor()
    print("Подключен к SQLite")

    sqlite_select_query = """SELECT 
                            count(CASE WHEN age>= 18 AND age < 30 THEN 1 END) AS [18 - 30],
                            count(CASE WHEN age>= 31 AND age < 40 THEN 1 END) AS [30 - 40],
                            count(CASE WHEN age>= 41 AND age < 200 THEN 1 END) AS [40+]
                            FROM (SELECT age FROM users) AS AgeGroups"""
    cursor.execute(sqlite_select_query)
    records = cursor.fetchall()
    print(records[0][0])
    print('18 - 30', ':', records[0][0])
    print('30 - 40', ':', records[0][1])
    print('40+', ':', records[0][2])

    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при работе с SQLite", error)
finally:
    if sqlite_connection:
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

Подключен к SQLite
949
18 - 30 : 949
30 - 40 : 15
40+ : 0
Соединение с SQLite закрыто

## 6. Среднее время сессии для каждой страны (страна - число)

In [9]:
try:
    sqlite_connection = sqlite3.connect('App.db')
    cursor = sqlite_connection.cursor()
    print("Подключен к SQLite")

    sqlite_select_query = """SELECT country, AVG(CAST(strftime('%s', session_end) AS INT)-CAST(strftime('%s', session_start) AS INT)) 
                             FROM users INNER JOIN sessions USING(user_id) 
                             GROUP BY country
                             """
    cursor.execute(sqlite_select_query)
    records = cursor.fetchall()
    for i in records:
        print(i[0], ':', i[1])
    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при работе с SQLite", error)
finally:
    if sqlite_connection:
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

Подключен к SQLite
Albania : 570.0
Andorra : 630.0
Austria : 642.8571428571429
Belarus : 540.0
Belgium : 600.0
Bosnia_and_Herzegovina : 390.0
Bulgaria : 528.0
Croatia : 550.0
Czech_Republic(Czechia) : 615.0
Denmark : 487.5
Estonia : 533.3333333333334
Finland : 705.0
France : 630.0
Germany : 420.0
Greece : 582.0
Holy_See : 520.0
Hungary : 607.5
Iceland : 492.0
Ireland : 555.0
Italy : 574.2857142857143
Latvia : 540.0
Liechtenstein : 570.0
Lithuania : 592.0
Luxembourg : 548.5714285714286
Malta : 591.4285714285714
Moldova : 513.3333333333334
Monaco : 660.0
Montenegro : 645.0
Netherlands : 495.0
North_Macedonia : 645.0
Norway : 580.0
Poland : 630.0
Portugal : 630.0
Romania : 540.0
Russia : 630.0
San_Marino : 548.5714285714286
Serbia : 600.0
Slovakia : 540.0
Slovenia : 450.0
Sweden : 530.0
Switzerland : 552.0
Ukraine : 680.0
United_Kingdom : 582.8571428571429
Соединение с SQLite закрыто

## 7. Топ-10 пользователей по количеству сессий (id, имя, количество сессий)

In [10]:
try:
    sqlite_connection = sqlite3.connect('App.db')
    cursor = sqlite_connection.cursor()
    print("Подключен к SQLite")

    sqlite_select_query = """SELECT user_id, name, COUNT(session_id)
                             FROM users INNER JOIN sessions USING(user_id)
                             GROUP BY user_id
                             ORDER BY 3 DESC
                             LIMIT 10
                             """
    cursor.execute(sqlite_select_query)
    records = cursor.fetchall()
    for i in records:
        print(i[0], i[1], i[2])
    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при работе с SQLite", error)
finally:
    if sqlite_connection:
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

Подключен к SQLite
7580 Emery 6
1222 Isabella 5
1680 Jayla 5
4419 Tristan 4
4428 Mila 4
4592 Nicholas 4
4652 Jacob 4
9419 Vanessa 4
9669 Victor 4
1521 Destiny 3
Соединение с SQLite закрыто

## 8. Получить пользователей, возраст которых 18-25, среднее время сессии больше 10 минут. (среднее время сессии, возраст, user_id). Использовать в запросе inner join.

In [11]:
try:
    sqlite_connection = sqlite3.connect('App.db')
    cursor = sqlite_connection.cursor()
    print("Подключен к SQLite")

    sqlite_select_query = """SELECT user_id, name, age, 
                             AVG(CAST(strftime('%s', session_end) AS INT)-CAST(strftime('%s', session_start) AS INT))
                             FROM users INNER JOIN sessions USING(user_id)
                             GROUP BY user_id
                             HAVING age>= 18 AND age < 30 AND AVG(CAST(strftime('%s', session_end) AS INT)-CAST(strftime('%s', session_start) AS INT)) > 600
                             """
    cursor.execute(sqlite_select_query)
    records = cursor.fetchall()
    for i in records:
        print(i[0], i[1], i[2], i[3])
    cursor.close()

except sqlite3.Error as error:
    print("Ошибка при работе с SQLite", error)
finally:
    if sqlite_connection:
        sqlite_connection.close()
        print("Соединение с SQLite закрыто")

Подключен к SQLite
1015 Carson 27 630.0
1152 Kai 24 690.0
2762 Benjamin 24 720.0
2772 David 24 740.0
2879 Adalyn 24 660.0
2894 Taylor 28 660.0
3082 Adrian 26 840.0
3354 Julian 22 660.0
3455 Charlotte 26 640.0
3583 Tristan 25 720.0
4060 Audrey 21 660.0
4170 Rylee 21 660.0
4240 Brooklynn 26 840.0
4320 Carson 23 780.0
4333 Xavier 28 660.0
4452 Gabriel 22 660.0
5220 Ella 25 660.0
5311 Londyn 19 740.0
5438 Maverick 25 660.0
5672 Claire 22 700.0
5867 Luke 28 660.0
5968 Jayce 28 630.0
6433 Rylee 29 720.0
6531 Levi 21 720.0
6589 Jocelyn 26 660.0
6951 Alyssa 21 660.0
7318 Scarlett 21 620.0
7597 Kennedy 22 840.0
7704 Joshua 24 660.0
7839 Serenity 20 620.0
8330 Jonah 28 780.0
8352 Ruby 27 720.0
8916 Santiago 23 660.0
9096 Jackson 23 640.0
9232 Carson 24 660.0
9263 Genesis 28 760.0
9419 Vanessa 24 630.0
Соединение с SQLite закрыто